<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"

        xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd"
        default-autowire="byName"
        >

    <context:annotation-config />
    <tx:annotation-driven/>


    <!-- Since we are spliting our jars then we need to define each
        separately -->
    <context:component-scan base-package="eu.alertproject.iccs.mlsensor" />


    <task:scheduler id="taskScheduler"/>
    <task:executor id="taskExecutor" pool-size="1"/>

    <task:annotation-driven executor="taskExecutor" scheduler="taskScheduler"/>


    <bean id="alertPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
        <property name="locations">
            <array>
                <value>classpath:system.properties</value>
            </array>
        </property>
    </bean>


    <bean id="systemProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean" >
        <property name="locations">
            <array>
                <value>classpath:system.properties</value>
            </array>
        </property>
    </bean>



    <!-- ActiveMQ -->
    <bean   id="jmsConnectionFactory"
            class="org.apache.activemq.ActiveMQConnectionFactory" >
        <property name="brokerURL" value="${activemq.url}" />
        <property name="userName" value="${activemq.userName}" />
        <property name="password" value="${activemq.password}" />
    </bean>

    <bean id="pooledJmsConnectionFactory"
          class="org.apache.activemq.pool.PooledConnectionFactory"
          destroy-method="stop">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
    </bean>

    <bean id="jmsConfig"
          class="org.apache.camel.component.jms.JmsConfiguration">
        <property name="connectionFactory" ref="pooledJmsConnectionFactory"/>
        <property name="transacted" value="false"/>
        <property name="concurrentConsumers" value="10"/>
    </bean>

    <bean id="activemq"
          class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="configuration" ref="jmsConfig"/>
    </bean>

    <!-- Spring JMS Template -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="pooledJmsConnectionFactory" />
        <property name="pubSubDomain" value="true"/>
    </bean>

    <bean id="mailService" class="${mail.service}"/>
    <bean id="mailParsers" class="${mailParser}"/>


    <bean id="realTimeMessagePublisher" class="${realTime.publisher}"/>
    <bean id="mailDownloader" class="${subscribers.mailman.downloader}"/>

    <bean id="forumUrlExtractionService" class="eu.alertproject.iccs.mlsensor.connector.services.NableForumUrlExtractionService">
        <constructor-arg value="${realTime.nable.url}"/>
    </bean>
</beans>